.limit.padding
  section.section#form
    h1 Forms

    .grid.gutter.collapse600
      .col.s1of2
        .form
          label Text field
            span Required
          input(type='text', placeholder='Placeholder text')
        .form
          label Text field
            span Error
          input.error(type='text', placeholder='Placeholder text')
        .form
          label.required Textarea
          textarea(placeholder='Placeholder text')
      .col.s1of2
        .form
          label Dropdown
          select
            option Select some value
            option Select some value
            option Select some value
            option Select some value
