.limit.padding
  section.section#typography
    h1 Primary heading
    h2 Secondary heading
    h3 Tertiary heading
    h4 Quater.. seriously?
    h5 Good old heading 5
    h6 Classic but seldom used heading 6

    hr.dotline

    p.small I am a small paragraph, containing this magnificent <a href="#typography">link</a>
    p I am a normal paragraph, containing this magnificent <a href="#typography">link</a>
    p.large I am a LARGE paragraph, containing this magnificent <a href="#typography">link</a>

    hr.dotline

    .columns
      p We are a few paragraphs filled with text and grouped together in a css3 columns container.</p><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p><hr><p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots <code>This is a tiny code snippet</code> in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

    hr.dotline

    .box.light.demo
      pre.prettyprint.linenums
        | ABCDEFGHIJKLMNOPQRSTUVWXYZ
        | abcdefghijklmnopqrstuvwxyz
        | !@#$%^&*()_+-=,./?<>[]\{}|
        | 1234567890
        | # This is a comment
        | def expenses
        |   @expenses ||=user.expenses.find(:all,
        |     :conditions => conditions,
        |     :order => "created_at ASC")
        | end

    hr.dotline

    .grid.gutter.collapse720
      .col.s1of2
        h4 Default unordered list
        ul
          li List item
          li List item
          li List item
            ul
              li Sublist item
              li Sublist item
          li: a(href='#_') List item w/link
          li: a(href='#_') List item w/link
          li List item
      .col.s1of2
        h4 Default ordered list
        ol
          li List item
          li List item
          li List item
            ol
              li Sublist item
              li Sublist item
          li: a(href='#_') List item w/link
          li: a(href='#_') List item w/link
          li List item
