section.section.light#versions
  .limit.padding.text-center
    h2 Version control
    p At the moment, including an <code>accept-version</code> header is not necessary, since all endpoints are at <strong>version 1</strong>.
    p Once an endpoint has been updated, this documentation will be updated with latest version and changes in functionality listed.
    p Here is an example of a <code>curl</code> request (<a href="https://httpkit.com/resources/HTTP-from-the-Command-Line/" target="_blank">what is curl?</a>) with an <code>accept-version</code> header.
  .limit.padding.wide
    .box.light.demo
      pre.prettyprint
        | curl -X GET 'apis.is/currency/arion' -H 'accept-version:1' -H 'Content-type: application/json'
