section.section.full#welcome
  .inner
    h1.logo=title
    .limit.padding.text-center
      p.large Our mission is to make all sorts of data streams as accessible as possible to anyone interested
      p.large All data is fetched from live websites and delivered as <a href="https://en.wikipedia.org/wiki/JSON" target="_blank" title="JavaScript Object Notation">JSON</a>
      p Would you like to suggest a new endpoint we could implement?<br/>Don't hesitate to <a href="mailto:apis@apis.is">contact us</a>, or contribute to our <a href="https://github.com/kristjanmik/apis" target="_blank">github repo</a>.
