section.section.full#welcome
  .inner
    h1.logo=title
    .limit.padding.text-center
      p.large Markmið <strong>apis.is</strong> er að veita forriturum og áhugamönnum aðgang að ýmsum gögnum á sem aðgengilegastan máta.
      p.large Öll gögn eru sótt af opnum vefsíðum og skilað aftur í gegnum endapunkta með <a href="https://en.wikipedia.org/wiki/JSON" target="_blank" title="JavaScript Object Notation">JSON</a> þjónustum.
      p Ert þú með tillögu að gögnum sem gaman væri að bæta við? Ekki hika við að <a href="mailto:apis@apis.is">hafa samband</a>, eða kíkja á <a href="https://github.com/kristjanmik/apis" target="_blank">github síðu</a> verkefnisins og leggja þitt af mörkum!
