section.section.full#welcome
  .inner
    h1.logo {apis.is}
    .limit.padding.text-center
      p.large Our mission is to make data streams accessible to anyone
      p.large All data is fetched from live websites and delivered as <a href="https://en.wikipedia.org/wiki/JSON" target="_blank" title="JavaScript Object Notation">JSON</a>
      p Would you like to suggest a new endpoint to be implemented?<br/>Don't hesitate to <a href="mailto:apis@apis.is">contact us</a>, or contribute to our <a href="https://github.com/kristjanmik/apis" target="_blank">github repository</a>.
      .arrows
        icon.icon-down.one
        icon.icon-down.two
        icon.icon-down.three
