// box.less

.box {
  .clearfix();
  .box-sizing(border-box);

  margin: 0 0 @spacing;
  padding: @spacing @spacing 0;

  position: relative;

  border-radius: @radius;

  @media @break-mobile {
    .padding > & {
      margin-left: -@spacing;
      margin-right: -@spacing;
    }
  }

  > .content {
    margin: -@spacing -@spacing @spacing;
    padding: @spacing @spacing 0;

    &.title {
      padding: 0;
      line-height: @spacing*2;
      border-radius: @radius @radius 0 0;
      border-bottom: 2px solid @color-dark;

      &.blue {
        background: @color-blue;
        color: @color-white;
      }
    }
  }

  &.light {
    // background: fade(@color-white,50%);
    background: @color-light;
  }

  &.api {

    .content {

      &.title {
        .clearfix();

        .method,
        .path {
        }

        .method {
          .user-select(none);
          cursor: default;
          float: left;
          width: @spacing*4;
          border-right: 2px solid @color-dark;

          font-family: @font-family-mono;
          font-size: 16px;
          letter-spacing: 1px;
          text-align: center;
          text-transform: uppercase;

          &.long {
            width: @spacing*6;
          }
        }
        .path {
          float: left;
          padding-left: @spacing;
          font-family: @font-family-mono;
          font-size: 16px;

          >a {
          }
        }
      }
    }
  }

  &.demo {
    padding-bottom: @spacing;

    >:last-child {
      margin-bottom: 0;
    }

    &:after {
      content: 'Example' attr(data-type);
      white-space: nowrap;

      line-height: @spacing * 1;
      padding: 0 @spacing/2;

      position: absolute;
      top: -@spacing * .3;
      left: -1px;

      letter-spacing: 1px;
      font-family: @font-family-mono;
      font-weight: 400;
      font-size: 13px;
      color: @color-white;

      background: @color-secondary;
      border-radius: 0 0 @radius 0;

      .light & {
        background: @color-light;
        color: @color-dark;
      }
    }
  }
}