// typography.less


p {
  margin: 0 0 @spacing;

  color: @color-light;

  -webkit-font-smoothing: antialiased;

  &.large {
    font-size: 24px;
  }

  &.small {
    font-size: 12px;
  }

  .light & {
    color: @color-dark;
  }
}

a {
  .transition(color @trans-quick, border @trans-med);

  cursor: pointer;

  text-decoration: none;
  color: @color-primary;

  border-bottom: 1px solid @color-secondary;

  &:hover,
  &:focus {
    color: darken(@color-primary,5%);
    border-color: darken(@color-primary,5%);
  }

  .light & {
    color: @color-dark;

    &:hover,
    &:focus {
      color: lighten(@color-dark,15%);
      border-color: lighten(@color-dark,15%);
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 @spacing;
  padding: 0;

  font-family: @font-family-special;
  font-weight: 300;
  line-height: 1.125em;

  -webkit-font-smoothing: antialiased;

  color: @color-light;

  .light & {
    color: @color-dark;
  }
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 35px;
  font-weight: 400;
}

h4 {
  font-size: 20px;
  font-weight: 600;
}

h5 {
  font-size: 16px;
  font-weight: 600;
}

h6 {
  font-size: 14px;
  font-weight: 600;
}

hgroup {
  *:first-child {
    margin-bottom: @spacing / 2;
  }
}

dl {
  -webkit-font-smoothing: antialiased;
  dt {
    font-weight: bold;
  }
  dd {
  }
}

ul {
  -webkit-font-smoothing: antialiased;

  color: @color-light;

  .light & {
    color: @color-dark;
  }

  &.clean {
    .reset-list();
    margin: 0 0 @spacing;
    padding-left: @spacing;
  }
}

hr {
  background: 0;
  border: 0;
  outline: 0;

  .clearfix;
  margin: @spacing 0;
  height: 1px;
  border-top: 1px solid @color-border;

  &.dotline {
    border-top-style: dashed;
  }
}

b, strong {
  font-weight: 600;
}

pre {
  font-family: @font-family-mono;

  -webkit-font-smoothing: antialiased;
}
code {
  display: inline-block;
  padding: 0 4px;

  font-family: @font-family-mono;

  // background: @color-gray-lighter;

  border: 1px dashed fade(@color-light,50%);

  -webkit-font-smoothing: antialiased;

  .light & {
    border-color: fade(@color-dark,50%);
  }
}
