.offset#endpoint-bus
article.article.dark.endpoint
  .limit.padding
    hgroup
      h3 Icelandic Bus System
      h4 Source: <a href="http://bus.is" target="_blank">bus.is</a>

    .box.light.api
      .content.title.blue
        .method get
        .path: a(href="http://apis.is/bus/realtime", target="_blank") /bus/realtime

      .content
        p Real-time location of buses. Results are only shown for active buses.

        h5.leading.collapse-next.open Parameters
        dl
          dt buses
          dd Comma seperated list of numbers. <b>Good to know:</b> If not declared, the endpoint will return location of all available buses.

        h5.leading.collapse-next curl demo
        pre.prettyprint.curl-demo.
          curl -X GET 'apis.is/bus/realtime?buses=1,5' -H 'accept-version:1' -H 'Content-Type: application/json'

        h5.leading.collapse-next jQuery demo
        pre.prettyprint.linenums.jquery-demo.
          $.ajax({
            'url': 'http://apis.is/bus/realtime',
            'type': 'GET',
            'dataType': 'json',
            'data': {'buses': '1,5'},
            'success': function(response) {
              console.log(response);
            }
          });

        h5.leading.collapse-next Response
        pre.prettyprint.linenums.response.
          {
              "results": [
                  {
                      "busNr": "1",
                      "buses": [
                          {
                              "unixTime": 1354618575,
                              "x": 64.090668,
                              "y": -21.92904,
                              "from": "Hlemmur",
                              "to": "Klukkuvellir"
                          },
                          {
                              "unixTime": 1354618575,
                              "x": 64.086315,
                              "y": -21.937813,
                              "from": "Klukkuvellir",
                              "to": "Hlemmur"
                          }
                      ]
                  },
                  {
                      "busNr": "5",
                      "buses": [
                          {
                              "unixTime": 1354618563,
                              "x": 64.135644,
                              "y": -21.850126,
                              "from": "Hlemmur",
                              "to": "Elliðabraut / Árvað"
                          },
                          {
                              "unixTime": 1354618577,
                              "x": 64.143989,
                              "y": -21.913048,
                              "from": "Elliðabraut / Árvað",
                              "to": "Hlemmur"
                          }
                      ]
                  }
              ]
          }
