section.section.dark.endpoint#endpoint-bus
  .limit.padding
    hgroup
      h3 Icelandic Bus System
      h4 Real-time location of busses
  .limit.padding.wide
    .box.light.demo
      pre.prettyprint
        | curl -X GET 'apis.is/bus/realtime?busses=1,5' -H 'Content-Type: application/json'
      p.nb If <code>busses</code> is not declared, the endpoint will return real-time location of all available busses.
      p.nb Results are only shown for active busses.
      pre.prettyprint.linenums
        | {
        |     "results": [
        |         {
        |             "busNr": "1",
        |             "busses": [
        |                 {
        |                     "unixTime": 1354618575,
        |                     "x": 64.090668,
        |                     "y": -21.92904,
        |                     "from": "Hlemmur",
        |                     "to": "Klukkuvellir"
        |                 },
        |                 {
        |                     "unixTime": 1354618575,
        |                     "x": 64.086315,
        |                     "y": -21.937813,
        |                     "from": "Klukkuvellir",
        |                     "to": "Hlemmur"
        |                 }
        |             ]
        |         },
        |         {
        |             "busNr": "5",
        |             "busses": [
        |                 {
        |                     "unixTime": 1354618563,
        |                     "x": 64.135644,
        |                     "y": -21.850126,
        |                     "from": "Hlemmur",
        |                     "to": "Elliðabraut / Árvað"
        |                 },
        |                 {
        |                     "unixTime": 1354618577,
        |                     "x": 64.143989,
        |                     "y": -21.913048,
        |                     "from": "Elliðabraut / Árvað",
        |                     "to": "Hlemmur"
        |                 }
        |             ]
        |         }
        |     ]
        | }


