section.section.dark.endpoint#endpoint-car
  .limit.padding
    hgroup
      h3 Cars in Iceland
      h4 Source: <a href="http://ww2.us.is/node/928" target="_blank">The Road Traffic Directorate</a> in Iceland

  .limit.padding
    .box.light.api
      .content.title.blue
        .method get
        .path: a(href="http://apis.is/car?number=aa031", target="_blank") /car

      .content
        p Search the icelandic vehicle registry

        h5.leading.collapse-next.open Parameters
        dl
          dt.req number
          dd registry number

        h5.leading.collapse-next curl demo
        pre.prettyprint.curl-demo.
          curl -X GET 'apis.is/car?number=aa031' -H 'Content-Type: application/json'

        h5.leading.collapse-next Response
        pre.prettyprint.linenums.response.
          {
              "results": [
                  {
                      "registryNumber": "AA031",
                      "number": "AA031",
                      "factoryNumber": "VF37ENFZE32286866",
                      "type": "PEUGEOT",
                      "subType": "306",
                      "color": "Blár",
                      "registeredAt": "26.02.1998",
                      "status": "Í lagi",
                      "nextCheck": "01.01.2013",
                      "pollution": "",
                      "weight": "1120"
                  }
              ]
          }
