.offset#endpoint-cinema
article.article.dark.endpoint
  .limit.padding
    hgroup
      h3 Icelandic cinema
      h4 Closed endpoint, requested by: <a href="http://kvikmyndir.is/" target="_blank">kvikmyndir.is</a>