section.section.dark.endpoint#endpoint-company
  .limit.padding
    hgroup
      h3 Company
      h4 Search icelandic company registry by name, address, social security number or VAT-number (VSK)
  .limit.padding.wide
    .box.light.demo
      pre.prettyprint
        | curl -X GET 'apis.is/company?name=hagar' -H 'Content-Type: application/json'
      pre.prettyprint
        | curl -X GET 'apis.is/company?address=Hagasmára' -H 'Content-Type: application/json'
      pre.prettyprint
        | curl -X GET 'apis.is/company?socialnumber=4307003590' -H 'Content-Type: application/json'
      pre.prettyprint
        | curl -X GET 'apis.is/company?vsknr=12345' -H 'Content-Type: application/json'

      pre.prettyprint.linenums
        | {
        |     "results": [
        |         {
        |             "name": "Company name",
        |             "sn": "Social security number",
        |             "active": 1,
        |             "address": "Address"
        |         }
        |     ]
        | }
