.offset#endpoint-company
article.article.dark.endpoint
  .limit.padding
    hgroup
      h3 Icelandic companies
      h4 Source: <a href="http://rsk.is" target="_blank">Directorate of Internal Revenue</a> in Iceland

    .box.light.api
      .content.title.blue
        .method get
        .path: a(href="http://apis.is/company?name=hagar", target="_blank") /company

      .content
        p Search the icelandic company registry
        p: b NB: At least one parameter is required.

        h5.leading.collapse-next.open Parameters
        dl
          dt name
          dd Company name
          dt address
          dd Company's address
          dt socialnumber
          dd Company's social security number / ID number
          dt vsknr
          dd Company's VAT-number (VSK in icelandic)

        h5.leading.collapse-next curl demo
        pre.prettyprint.curl-demo.
          curl -X GET 'apis.is/company?name=hagar' -H 'accept-version:1' -H 'Content-Type: application/json'

        h5.leading.collapse-next jQuery demo
        pre.prettyprint.linenums.jquery-demo.
          $.ajax({
            'url': 'http://apis.is/company',
            'type': 'GET',
            'dataType': 'json',
            'data': {'name': 'hagar'},
            'success': function(response) {
              console.log(response);
            }
          });

        h5.leading.collapse-next Response
        pre.prettyprint.linenums.response.
          {
            "results": [
              {
                "name": "Hagar ehf (samruni)",
                "sn": "6712962309",
                "active": 0,
                "address": "Skútuvogi 7, 104 Reykjavík"
              },
              {
                "name": "Hagar hf.",
                "sn": "6702032120",
                "active": 1,
                "address": "Hagasmára 1, 201 Kópavogur"
              },
              {
                "name": "Hagar verslanir ehf",
                "sn": "4707100390",
                "active": 1,
                "address": "Hagasmára 1, 201 Kópavogur"
              }
            ]
          }
