section.section.dark.endpoint#endpoint-flight
  .limit.padding
    hgroup
      h3 Flight
      h4 Get list of international flights departing and arriving at KEF airport.
  .limit.padding.wide
    .box.light.demo
      pre.prettyprint
        | curl -X GET 'apis.is/flight?language=en&type=departures' -H 'Content-Type: application/json'
      p.nb <strong>language</strong> can be "en" or "is"
      p.nb <strong>type</strong> can be "departures" or "arrivals"
      pre.prettyprint.linenums
        | {
        |     "results": [
        |         {
        |             "date": "26. Jan",
        |             "flightNumber": "FI671",
        |             "to": "Denver Intl",
        |             "plannedArrival": "17:00",
        |             "realArrival": "17:23",
        |             "status": "Departed 17:12"
        |         },
        |         {
        |             "date": "26. Jan",
        |             "flightNumber": "FI615",
        |             "to": "New York JFK",
        |             "plannedArrival": "17:05",
        |             "realArrival": "17:26",
        |             "status": "Departed 17:17"
        |         }
        |     ]
        | }



