.offset#endpoint-tv
article.article.dark.endpoint
  .limit.padding
    hgroup
      h3 Icelandic television programming
      h4 Source: <a href="http://ruv.is/" target="_blank">RÚV</a>, <a href="http://stod2.is/" target="_blank">Stöð 2</a> and <a href="http://www.skjarinn.is/einn/">Skjár 1</a>

    .box.light.api
      .content.title.blue
        .method get
        .path: a(href="http://apis.is/tv/ruv", target="_blank") /tv/ruv

      .content
        p Get today's schedule from RÚV

        h5.leading.collapse-next curl demo
        pre.prettyprint.curl-demo.
          curl -X GET 'apis.is/tv/ruv' -H 'accept-version:1' -H 'Content-Type: application/json'

        h5.leading.collapse-next jQuery demo
        pre.prettyprint.linenums.jquery-demo.
          $.ajax({
            'url': 'http://apis.is/tv/ruv',
            'type': 'GET',
            'dataType': 'json',
            'success': function(response) {
              console.log(response);
            }
          });

        h5.leading.collapse-next Response
        pre.prettyprint.linenums.response.
          {
            "results": [
              {
                "title": "Morgunstundin okkar",
                "originalTitle": "",
                "duration": "03:25:00",
                "description": "",
                "shortDescription": "",
                "live": false,
                "premier": true,
                "startTime": "2014-07-05 07:00:00",
                "aspectRatio": "16:9",
                "series": {
                  "episode": "1",
                  "series": "1"
                }
              },
              {
                "title": "Sm\u00e6lki",
                "originalTitle": "Small Potatoes",
                "duration": "00:03:00",
                "description": "",
                "shortDescription": "",
                "live": false,
                "premier": true,
                "startTime": "2014-07-05 07:01:00",
                "aspectRatio": "16:9",
                "series": {
                  "episode": "24",
                  "series": "26"
                }
              }
            ]
          }
    .box.light.api
      .content.title.blue
        .method get
        .path: a(href="http://apis.is/tv/stod2", target="_blank") /tv/stod2

      .content
        p Get today's schedule from Stöð 2

        h5.leading.collapse-next curl demo
        pre.prettyprint.curl-demo.
          curl -X GET 'apis.is/tv/stod2' -H 'accept-version:1' -H 'Content-Type: application/json'

        h5.leading.collapse-next jQuery demo
        pre.prettyprint.linenums.jquery-demo.
          $.ajax({
            'url': 'http://apis.is/tv/stod2',
            'type': 'GET',
            'dataType': 'json',
            'success': function(response) {
              console.log(response);
            }
          });

        h5.leading.collapse-next Response
        pre.prettyprint.linenums.response.
          {
            "results": [
              {
                "title": "ET Weekend",
                "originalTitle": "",
                "duration": "0:45",
                "description": "Fremsti og fr\u00e6gasti \u00fe\u00e1ttur \u00ed heimi \u00fear sem allt \u00fea\u00f0 helsta sem ger\u00f0ist \u00ed vikunni \u00ed heimi f\u00edna og fr\u00e6ga f\u00f3lksins er t\u00edunda\u00f0 \u00e1 hressilegan h\u00e1tt.",
                "live": "false",
                "premier": "false",
                "startTime": "2014-07-06 04:40:00",
                "aspectRatio": "16\/9",
                "series": {
                  "episode": "42",
                  "series": "52"
                }
              },
              {
                "title": "Fr\u00e9ttir",
                "originalTitle": "",
                "duration": "0:45",
                "description": "Fr\u00e9ttir St\u00f6\u00f0var 2 endurs\u00fdndar fr\u00e1 \u00fev\u00ed fyrr \u00ed kv\u00f6ld.",
                "live": "false",
                "premier": "true",
                "startTime": "2014-07-06 05:25:00",
                "aspectRatio": "4\/3",
                "series": {
                  "episode": "",
                  "series": ""
                }
              }
            ]
          }
    .box.light.api
      .content.title.blue
        .method get
        .path: a(href="http://apis.is/tv/skjar1", target="_blank") /tv/skjar1

      .content
        p Get today's schedule from Skjár 1

        h5.leading.collapse-next curl demo
        pre.prettyprint.curl-demo.
          curl -X GET 'apis.is/tv/skjar1' -H 'accept-version:1' -H 'Content-Type: application/json'

        h5.leading.collapse-next jQuery demo
        pre.prettyprint.linenums.jquery-demo.
          $.ajax({
            'url': 'http://apis.is/tv/skjar1',
            'type': 'GET',
            'dataType': 'json',
            'success': function(response) {
              console.log(response);
            }
          });

        h5.leading.collapse-next Response
        pre.prettyprint.linenums.response.
          {
            "results": [
              {
                "title": "Leverage",
                "originalTitle": "Leverage 5",
                "duration": "00:46:00",
                "description": "\u00deetta er fimmta \u00fe\u00e1ttar\u00f6\u00f0in af Leverage, \u00e6sispennandi \u00fe\u00e1ttar\u00f6\u00f0 \u00ed anda Ocean\u2019s Eleven um \u00fej\u00f3fah\u00f3p sem r\u00e6nir \u00fe\u00e1 sem misnota vald sitt og r\u00edkid\u00e6mi og n\u00ed\u00f0ast \u00e1 minnim\u00e1ttar.",
                "shortDescription": "Nate ver\u00f0ur a\u00f0 hreinsa mannor\u00f0 Sophie \u00feegar h\u00fan er grunu\u00f0 um \u00fej\u00f3fna\u00f0 \u00e1 \u00f3metanlegu m\u00e1lverki.",
                "live": false,
                "premier": true,
                "startTime": "2014-07-09 23:54",
                "aspectRatio": "",
                "series": {
                  "episode": "10",
                  "series": "15"
                }
              },
              {
                "title": "House of Lies",
                "originalTitle": "House of Lies 2",
                "duration": "00:28:00",
                "description": "Marty Khan og f\u00e9lagar sn\u00faa aftur \u00ed \u00feessum vins\u00e6lu \u00fe\u00e1ttum sem hinir raunverulegu h\u00e1karlar vi\u00f0skiptal\u00edfsins.",
                "shortDescription": "",
                "live": false,
                "premier": true,
                "startTime": "2014-07-10 00:40",
                "aspectRatio": "",
                "series": {
                  "episode": "4",
                  "series": "12"
                }
              }
            ]
          }