extends layouts/default

block header
  .limit.padding
    h1 3D stuff

block content
  .limit.padding
    h2 flip

    section.flip-wrap
      article.flip
        figure.card
          .face.front Front
          .face.back
            ul
              li: a(href='#_') Linkur
              li: a(href='#_') Linkur
              li: a(href='#_') Linkur
              li: a(href='#_') Linkur
              li: a(href='#_') Linkur
              li: a(href='#_') Linkur
              li: a(href='#_') Linkur
              li: a(href='#_') Linkur
              li: a(href='#_') Linkur
              li: a(href='#_') Linkur
              li: a(href='#_') Linkur
              li: a(href='#_') Linkur
              li: a(href='#_') Linkur
              li: a(href='#_') Linkur

    h2 cube

    section.cube-wrap
      article.cube
        figure.front front
        figure.back back
        figure.top top
        figure.bottom bottom
        figure.left left
        figure.right right
