extends layouts/default

block header
  include home/welcome

block content
  include home/versions

  include apis/car
  include apis/flight
  include apis/company
  include apis/currency
  include apis/bus

block footer
  .limit.padding
    p Ert þú með tillögu að gögnum sem gaman væri að bæta við? Ekki hika við að <a href="mailto:apis@apis.is">hafa samband</a>, eða kíkja á <a href="https://github.com/kristjanmik/apis" target="_blank">github síðu</a> verkefnisins og leggja þitt af mörkum!