extends layouts/default

block header
  include home/welcome

block content
  include home/versions

  include apis/car
  include apis/flight
  include apis/company
  include apis/currency
  include apis/bus

block footer
  .limit.padding
    p Would you like to suggest a new endpoint we could implement?<br/>Don't hesitate to <a href="mailto:apis@apis.is">contact us</a>, or contribute to our <a href="https://github.com/kristjanmik/apis" target="_blank">github repo</a>.