extends layouts/default

block header
  include home/welcome

block content
  include home/versions

  include apis/car
  include apis/flight
  include apis/company
  include apis/currency
  include apis/bus
