// header.less

.site-header {
  .user-select(none);
  margin: 0 auto;
  padding: 0;

  position: relative;

  .logo {
    min-width: @page-min-width;
    padding: @spacing*1.5 0 @spacing*2;
    line-height: 90px;

    text-align: center;

    border-bottom: 2px solid @color-primary;
  }

  .section.full {
    min-height: 1200px;
  }

  .inner {
    .transition(height @trans-slow);
    .animation(fadein ease-in 1);
    .animation-fill-mode(forwards);
    .animation-duration(@trans-slow);
    .animation-delay(250ms);

    opacity: 0;
    margin: auto;
    height: 400px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &.fixed {
      position: fixed;
    }

    .arrows {
      cursor: pointer;
      display: block;
      margin: 0 auto @spacing;
      border: none;

      >icon {
        .animation(fadeloop ease-in 2);
        .animation-fill-mode(forwards);
        .animation-duration(@trans-slow*3);

        opacity: 0;
        display: block;
        color: @color-light;

        @delay: 2000ms;

        &.one {
          .animation-delay(@delay);
          font-size: @spacing*1.5;
          line-height: @spacing;
        }

        &.two {
          .animation-delay(@delay + @trans-slow);
          font-size: @spacing*3;
          line-height: @spacing*2;
        }

        &.three {
          .animation-delay(@delay + @trans-slow*2);
          font-size: @spacing*5;
          line-height: @spacing*2;
        }
      }
    }

    @media only screen and (max-height: 568px) {
      position: relative;

      .arrows {
        display: none;
      }
    }
  }
}

@-webkit-keyframes fadein {
  from { opacity:0; }
  to { opacity:1; }
}
@-o-keyframes fadein {
  from { opacity:0; }
  to { opacity:1; }
}
@-moz-keyframes fadein {
  from { opacity:0; }
  to { opacity:1; }
}
@keyframes fadein {
  from { opacity:0; }
  to { opacity:1; }
}

@-webkit-keyframes fadeloop {
  0% { opacity:0; }
  50% { opacity:1; }
  100% { opacity:1; }
}
@-o-keyframes fadeloop {
  0% { opacity:0; }
  50% { opacity:1; }
  100% { opacity:1; }
}
@-moz-keyframes fadeloop {
  0% { opacity:0; }
  50% { opacity:1; }
  100% { opacity:1; }
}
@keyframes fadeloop {
  0% { opacity:0; }
  50% { opacity:1; }
  100% { opacity:1; }
}
