// header.less

.site-header {
  margin: 0 auto;
  padding: 0;

  position: relative;

  .logo {
    padding: @spacing*2 0;
    line-height: 90px;

    text-align: center;

    border-bottom: 2px solid @color-primary;
  }

  .inner {
    margin: auto;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
